@import '../../styles/variables';
@import '../../styles/components';
@import '../../styles/global';

// Login y Registro

.h2_login,
.h2_register {
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #6b15b8;
    background: #fff;
    border-radius: 8px;
    padding: 3px;
    width: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 5);
    font-family: 'Press Start 2P', monospace;
}

.form-box {
    margin-top: 5vh;
    color: #23143b;
    font-size: 15px;

    width: 400px;
    padding: 10px;
    background-color: rgba(144, 91, 172, 0.8); 
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 5);
    position: absolute;

    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.form-group {
    margin: 10px;

    label {
        margin-bottom: 8px;
        font-family: 'Press Start 2P', monospace;
        font-weight: bold;
        background: #fff;
        border-radius: 4px;
        border: 0px;
    }

    .form-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 5);
    }
}

.form-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.button_login {
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    background-color: #d878b0;
    color: white;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0 0 15px rgba(0, 0, 0, 5);
    margin-bottom: 1rem;
}

.cbox_login:checked {
    accent-color: #d878b0;
    font-weight: bold;
}