@import '../../styles/variables';
@import '../../styles/components';
@import '../../styles/global';

// Botón Start
.index_button_start {
  text-decoration: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  border: 0;
  border-radius: 15rem;
  transition: all 0.2s;
  color: rgb(37, 37, 37);
  background: white;
  overflow: hidden;
  box-shadow: 0 15px 7px -5px #525097;
}

// Botón Instructions
.index_button_instructions {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  z-index: 2;
  text-decoration: none;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px 35px;
  border: 0;
  border-radius: 15rem;
  transition: all 0.2s;
  color: rgb(37, 37, 37);
  background: white;
  overflow: hidden;
  box-shadow: 0 15px 7px -5px #525097;
}

// Efectos al pasar y hacer clic
.index_button_start:hover,
.index_button_instructions:hover {
  background: rgb(193, 228, 248);
  color: rgb(33, 0, 85);
}

.index_button_start:active,
.index_button_instructions:active {
  transform: translate(-50%, -50%) scale(0.97);
}

// Contenedor del efecto
.index_button_start .hoverEffect,
.index_button_instructions .hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

// Elemento del efecto visual
.index_button_start .hoverEffect div,
.index_button_instructions .hoverEffect div {
  background: linear-gradient(90deg,
    rgba(222, 0, 75, 1) 0%,
    rgba(191, 70, 255, 1) 49%,
    rgba(0, 212, 255, 1) 100%);
  border-radius: 40rem;
  width: 20rem;
  height: 20rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.45;
}

// Cambio de tamaño en hover
.index_button_start:hover .hoverEffect div,
.index_button_instructions:hover .hoverEffect div {
  width: 8rem;
  height: 8rem;
}

// Animación de rotación infinita
@keyframes effect {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
